<div class="grid-container">
    <div class="grid-item">Emp id</div>
    <div class="grid-item">Course Code</div>
    <div class="grid-item">Score</div>  
    <div class="grid-item">Hours Spent</div>
    <div class="grid-item">Date Completed</div>
    <div class="grid-item">Status</div>
  </div>
  <div class="grid-container">
    <div class="grid-item-darkgrey">192828</div>
    <div class="grid-item-darkgrey">C123</div>
    <div class="grid-item-darkgrey">85</div>  
    <div class="grid-item-darkgrey">25</div>
    <div class="grid-item-darkgrey">10/07/2020</div>
    <div class="grid-item-darkgrey">Started</div>
  </div>
  <div class="grid-container">
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>  
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>
  </div>
  <div class="grid-container">
    <div class="grid-item-darkgrey"></div>
    <div class="grid-item-darkgrey"></div>
    <div class="grid-item-darkgrey"></div>  
    <div class="grid-item-darkgrey"></div>
    <div class="grid-item-darkgrey"></div>
    <div class="grid-item-darkgrey"></div>
  </div>
  <div class="grid-container">
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>  
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>
  </div>
  <div class="grid-container">
    <div class="grid-item-darkgrey"></div>
    <div class="grid-item-darkgrey"></div>
    <div class="grid-item-darkgrey"></div>  
    <div class="grid-item-darkgrey"></div>
    <div class="grid-item-darkgrey"></div>
    <div class="grid-item-darkgrey"></div>
  </div>
  <div class="grid-container">
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>  
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>
  </div>
  <div class="grid-container">
    <div class="grid-item-darkgrey"></div>
    <div class="grid-item-darkgrey"></div>
    <div class="grid-item-darkgrey"></div>  
    <div class="grid-item-darkgrey"></div>
    <div class="grid-item-darkgrey"></div>
    <div class="grid-item-darkgrey"></div>
  </div>
  <div class="grid-container">
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>  
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>
    <div class="grid-item-lightgrey"></div>
  </div>

  

